name: pixez
description: A new Flutter project.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.2.3+53

environment:
  sdk: ">=2.10.4 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  dio: ^3.0.10
  crypto: any
  sqflite: ^1.3.2+2
  path_provider: ^1.6.27
  shared_preferences: ^0.5.12+4
  share: ^0.6.5+4
  share_extend: ^1.1.9
  permission_handler: ^5.0.1+1
  save_in_gallery: ^0.1.3
  archive: ^2.0.13
  url_launcher: ^5.7.10
  bot_toast: ^3.0.5
  package_info: ^0.4.3+2
  uni_links: ^0.4.0
  mobx: ^1.2.1+4
  flutter_mobx: ^1.1.0+2
  flutter_inapp_purchase: ^3.0.1
  flutter_widget_from_html_core: ^0.5.1+4
  extended_nested_scroll_view: ^2.0.0
  scrollable_positioned_list: ^0.1.9
  flutter_date_pickers: ^0.1.8
  device_info: ^1.0.0
  provider: ^4.3.2+2
  flutter_displaymode: ^0.1.1
  receive_sharing_intent: ^1.4.2
  like_button: ^1.0.4
  flutter_hooks: ^0.15.0
  pull_to_refresh: ^1.6.3
  extended_image: ^1.5.0
  flutter_colorpicker: ^0.3.4
  waterfall_flow: ^2.0.5
  animations: ^1.1.2
  extended_text: ^4.0.0
  backdrop: ^0.4.7
  font_awesome_flutter: ^8.10.0
  json_annotation: ^3.1.0
  flutter_staggered_animations: ^0.1.2
  flutter_statusbar_manager: ^2.0.0
  badges: ^1.1.6
  quick_actions: ^0.4.0+10
  image_picker: ^0.6.7+21
  intl: ^0.16.1
  intl_utils: ^1.9.0
  md2_tab_indicator: ^1.0.2
  quiver: ^2.1.5
  flutter_swiper: ^1.1.6
  image: ^2.1.19

#dependency_overrides:
#  flutter_svg: ^0.17.4
dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^1.10.2
  mobx_codegen: ^1.1.0+2
  json_serializable: ^3.4.1




# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/mahou_teriri.jpg
    - assets/images/icon.png
    - assets/images/no_h.png
    - assets/images/me.jpg
    - assets/images/right_now.jpg
    - assets/images/liz.png
    - assets/images/weixin_qr.png
    - assets/images/h.jpg
    - assets/images/nine.jpg
    - assets/images/step1.png
    - assets/images/step2.png
    - assets/images/ic_front.png
    - assets/images/fish.gif

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
     - family: iconfont
       fonts:
         - asset: assets/fonts/iconfont.ttf
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
flutter_intl:
  enabled: true
  class_name: I18n
  main_locale: en_US
