name: pixez
description: A new Flutter project.

publish_to: none

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.9.61+465

environment:
  sdk: ">=3.1.4"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  dio: ^5.8.0+1
  crypto: ^3.0.6
  path_provider: ^2.1.5
  shared_preferences: ^2.5.1
  share_plus: ^10.1.4
  permission_handler: ^11.3.1
  archive: ^4.0.2
  url_launcher: ^6.3.1
  bot_toast: ^4.1.3
  package_info_plus: ^8.2.1
  mobx: ^2.3.3+2
  flutter_mobx: ^2.2.1+1
  in_app_purchase: ^3.2.1
  flutter_widget_from_html: ^0.15.3
  device_info_plus: ^11.3.0
  flutter_displaymode: ^0.6.0
  receive_sharing_intent:
    git:
      url: https://github.com/KasemJaffer/receive_sharing_intent
      ref: master
  cached_network_image: ^3.4.1
  flutter_cache_manager: ^3.4.1
  waterfall_flow: ^3.1.1
  animations: ^2.0.11
  font_awesome_flutter: ^10.6.0
  json_annotation: ^4.9.0
  badges: ^3.1.2
  image_picker: ^1.1.2
  intl: ^0.19.0
  quiver: ^3.2.2
  flutter_inappwebview: ^6.1.5
  dio_cache_interceptor: ^3.5.1
  photo_view: ^0.15.0
  image: ^4.5.2
  easy_refresh: ^3.4.0
  flutter_hooks: ^0.20.5
  hooks_riverpod: ^2.5.1
  sqflite: ^2.4.2
  dynamic_color:
    git:
      url: https://github.com/hasali19/material-foundation-flutter-packages.git
      path: packages/dynamic_color
      ref: main
  flutter_riverpod: ^2.5.1
  riverpod_annotation: ^2.3.5
  freezed_annotation: ^2.4.4
  # Design Style
  fluent_ui: ^4.10.0
  # Desktop Support
  flutter_acrylic: ^1.1.4
  window_manager: ^0.4.3
  rhttp:
    git:
      url: https://github.com/Tienisto/rhttp.git
      path: rhttp
      ref: main
  dio_compatibility_layer: ^0.1.0
  flutter_cache_manager_dio: ^4.0.0
  file_picker: ^9.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^2.4.10
  mobx_codegen: ^2.6.1
  json_serializable: ^6.8.0
  analyzer: ^6.4.1
  sqflite_common_ffi: ^2.3.5
  msix: ^3.16.7
  riverpod_generator: ^2.4.0
  custom_lint: ^0.6.4
  riverpod_lint: ^2.3.10
  freezed: ^2.5.2

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
    - assets/json/host.json
    - assets/emojis/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: iconfont
      fonts:
        - asset: assets/fonts/iconfont.ttf
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
  generate: true

msix_config:
  display_name: Pixez
  publisher_display_name: Perol_Notsfsssf
  identity_name: com.perol.pixez
  msix_version: 0.0.0.1
  logo_path: .\windows\runner\resources\ic_launcher-msstore.png
  trim_logo: false
  capabilities: internetClient, picturesLibrary
  languages: en-us, es-es, ja-jp, ko-kr, ru-ru, tr-tr, zh-cn, zh-tw
  protocol_activation: pixiv, pixez
  app_uri_handler_hosts: i.pximg.net, pixiv.me, pixivision.net
  execution_alias: pixez
  store: false
  publisher: CN=舰队的偶像-岛风酱!, C=CN
  sign_msix: true
  certificate_path: .\cert.pfx
  install_certificate: false
