name: pixez
description: A new Flutter project.

publish_to: none

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.9.28+280

environment:
  sdk: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  dio: ^5.1.2
  crypto: ^3.0.2
  path_provider: ^2.1.1
  shared_preferences: ^2.2.1
  share_plus: ^7.1.0
  permission_handler: ^11.0.0
  archive: ^3.3.7
  url_launcher: ^6.1.14
  bot_toast: ^4.0.4
  package_info_plus: ^4.1.0
  uni_links2: ^0.6.0+2
  uni_links2_platform_interface: ^1.0.0+2
  mobx: ^2.1.4
  flutter_mobx: ^2.0.6+5
  in_app_purchase: ^3.1.7
  flutter_widget_from_html: ^0.10.3
  device_info_plus: ^9.0.3
  flutter_displaymode: ^0.6.0
  receive_sharing_intent: ^1.4.5
  cached_network_image: ^3.2.3
  flutter_cache_manager: ^3.3.0
  flutter_colorpicker: ^1.0.3
  waterfall_flow: ^3.0.2
  animations: ^2.0.7
  font_awesome_flutter: ^10.1.0
  json_annotation: ^4.8.0
  flutter_staggered_animations: ^1.1.1
  badges: ^3.1.1
  image_picker: ^1.0.4
  intl: ^0.18.1
  quiver: ^3.2.1
  flutter_inappwebview_quill: ^5.4.6
  auto_animated: ^3.1.0
  http: ^0.13.4
  dio_cache_interceptor: ^3.4.2
  photo_view: ^0.14.0
  http_interceptor: 2.0.0-beta.2
  image: ^4.0.17
  easy_refresh: ^3.3.2+1
  flutter_hooks: ^0.18.6
  hooks_riverpod: ^2.3.6
  sqflite: ^2.2.8+4
  dynamic_color: ^1.6.5
  # Design Style
  fluent_ui: # 需要4.7.3
    git: https://github.com/bdlukaa/fluent_ui.git
  # Desktop Support
  flutter_acrylic: ^1.1.3
  window_manager: ^0.3.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^2.3.3
  mobx_codegen: ^2.1.1
  json_serializable: ^6.6.1
  analyzer: ^5.7.1
  sqflite_common_ffi: ^2.2.5
  msix: ^3.16.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
    - assets/json/host.json
    - assets/emojis/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: iconfont
      fonts:
        - asset: assets/fonts/iconfont.ttf
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
  generate: true

msix_config:
  display_name: Pixez
  publisher_display_name: Perol_Notsfsssf
  identity_name: com.perol.pixez
  msix_version: 0.0.0.1
  logo_path: .\windows\runner\resources\ic_launcher-msstore.png
  trim_logo: false
  capabilities: internetClient, picturesLibrary
  languages: en-us, es-es, ja-jp, ko-kr, ru-ru, tr-tr, zh-cn, zh-tw
  protocol_activation: pixiv, pixez
  app_uri_handler_hosts: i.pximg.net, pixiv.me, pixivision.net
  execution_alias: pixez
  store: false
  publisher: CN=舰队的偶像-岛风酱!, C=CN
  sign_msix: true
  certificate_path: .\cert.pfx
  install_certificate: false
